.rounded {
  border: 1px solid #FFA64D;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

.parq-theme {
  background-color: #FFA64D;
}

.lobsterFont {
	font-family: Lobster;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}
