.rounded {
  border: 2px solid #FFA64D;
  width: 100px;
  border-radius: 50%;
  text-align: center;
}

.center-element {
  margin:auto;
  text-align: center;
}

.parq-theme {
  background-color: #FFA64D;
}

.lobsterFont {
	font-family: Lobster;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}

.lobsterFontMedium {
	font-family: Lobster;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 250;
	line-height: 13px;
  font-color: #000000;
}
